body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #1b1504 0%, #463b0f 39%, #695a17 100%);
    font-family:Tahoma, sans-serif;
    color: #fff;
}

/* INTRODUCTION */


.intro {
    text-align: center;
    padding-top: 10%;
    margin: auto auto 1.5em;
}

h1 {
    font-size: 2.2em;
    font-style: italic;
    text-decoration: underline;
    letter-spacing: 0.1em;
}

h2 {
    font-size: 1.8em;
}

.paragraph {
    font-size: 1.2rem;
    text-align: center;
    margin: auto auto 2.2em;
    width: 50%;
}

/* INPUT AND BUTTON */

.number-input {
    display: block;
    text-align: center;
    background: #333030;
    margin: auto;
    width: 50%;
    border: 1px solid #000;
    border-radius: 0.625rem;
}

.text {
    padding: 1em;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: bolder;
}

#number {
    font-size: 2em;
    color: #fff;
    background: #152232;
    border: 1px solid #000000;
    width: 50%;
    height: 5vh;
    margin-top: 0.4em;
    margin-bottom: 0.7em;
    padding-right: 0.3em;
    padding-left: 0.3em;
}

#convert-btn {
    font-size: 2em;
    background: #d7b312;
    border: 1px solid #000000;
    width: 50%;
    height: 5vh;
    margin-top: 0.3em;
    margin-bottom: 0.7em;
    cursor: pointer;
}

#output {
    display: none;
    overflow: hidden;
    text-align: center;
    font-size: 1.5em;
    background: #333030;
    border: 1px solid #000;
    border-radius: 0.625rem;
    margin: 0.3em auto 0.5em;
    width: 50%;
    height: 7vh;
    line-height: 7vh;
}

/* Media Exceptions */

@media (min-width: 300px) and (max-width: 600px) {
    .intro {
        margin: auto auto 1em;
    }
    h1,h2 {
        font-size: 1.5em;
    }   
    .paragraph {
        font-size: 1em;
        padding: 0.4em;
    }
    #number, #convert-btn {
        font-size: 1em;
    }
    .text {
        font-size: 1.1em;
    }  
    #output {
        font-size: 0.8em;
        height: 5vh;
        line-height: 5vh;
    }  
}
